html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0 0;
  background-color: $site-bg;
  @include breakpoint($tablet, $no-query: '.no-mq') {
    overflow-x: hidden;
  }
}
.wrap {
  max-width: $container_width;
  margin: 0 auto;
  padding: 0 2em;
}