header.site-header {
  @include clearfix;
    position: relative;
    z-index: 9;
    padding: 5px 0 0;
    @include breakpoint($desktop, $no-query: '.no-mq') {
      padding: 40px 0 0;
    }
    &:before {
      content: '';
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+0,000000+100&0.62+0,0+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0.62) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.62) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0.62) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      width: 100%;
      position: absolute;
      height: 120px;
      top: 0;
      z-index: -1;
      @include breakpoint($desktop, $no-query: '.no-mq') {
        height: 120px;
      }
    }
}

.site-header.no-preface {
  &:before {
    height: 0;
    }
}



.header-image-is-light {
   header.site-header {
      &:before {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,ffffff+0,ffffff+100&0.95+0,0+100 */
        
        background: -moz-linear-gradient(top,  rgba(255,255,255,0.95) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(255,255,255,0.95) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(255,255,255,0.95) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      }
  } 
}
.ie9, .ie8, .ie7{
   header.site-header {
      &:before {
        background: url('../images/dark-header-bg.png');

      }
  } 
}

.ie9 .header-image-is-light, .ie8 .header-image-is-light, .ie7 .header-image-is-light {
 header.site-header {
    &:before {
      background: url('../images/light-header-bg.png');
    }
  } 
}

.logo {
  @include breakpoint($tablet, $no-query: '.no-mq') {
    @include grid-span(4, 1);
  }
}

.main-nav {
  @include breakpoint($desktop, $no-query: '.no-mq') {
    @include grid-span(8, 5);
  }
}

