main#content {
  @include clearfix;
  .wrap {
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.21);
    padding: 2em 2em 3em;
  }
}

main.no-preface  {
  .wrap {
    position: relative;
    z-index: 3;
  }
}

