.preface {
  position: relative;
  top: 0;
  height: 450px;
  margin-top: -190px;
  z-index: 0;
  @include breakpoint($tablet, $no-query: '.no-mq') {
    height: 650px;
  }
  &:before {
    content: '';
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,1.00) 0%, rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,1.00) 0%, rgba(0,0,0,0) 100%);
    background-image: linear-gradient(to top, #000 0%,rgba(0, 0, 0, 0) 100%);
    width: 100%;
    position: absolute;
    height: 280px;
    bottom: 0;
    z-index: -1;
  }
}