.preface {
  position: relative;
  top: 0;
  height: 450px;
  margin-top: -150px;
  z-index: 0;
  @include breakpoint($tablet, $no-query: '.no-mq') {
    height: 690px;
  }
  &:before {
    content: '';
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,1.00) 0%, rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,1.00) 0%, rgba(0,0,0,0) 100%);
    background-image: linear-gradient(to top, #000 0%,rgba(0, 0, 0, 0) 100%);
    width: 100%;
    position: absolute;
    height: 100px;
    bottom: 0;
    z-index: -1;
    @include breakpoint($tablet, $no-query: '.no-mq') {
      height: 100px;
    }
  }
}

.front .preface {
  height: 650px;
  @include breakpoint($tablet, $no-query: '.no-mq') {
    height: 950px;
  }
}

main.no-preface {
  margin-top: 3em !important;
  @include breakpoint($tablet, $no-query: '.no-mq') {
    margin-top: 5em !important;
  }
}