#content .sidebar-second {
  padding-top: 2em;
  @include breakpoint($tablet, $no-query: '.no-mq') {
    padding-top: 0;
    @include grid-span(3,10);
  }
  
}

.affiliations-block {
   img {
    padding: 1em;
   }
}