// .front {
//   .preface {
//     height: auto;
//     img {
//       width: 100%;
//     }
//   }
//   .flex-caption {
//     position: absolute;
//     right: 0;
//     bottom: 0;
//     background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 0%, rgba(0,0,0,0.60) 100%);    
//     padding: 30% 3em 2em 7em;;
//     text-align: right;
//     h6, h3 {
//       color: #fff;
//     }
//   }
// }
.front .slick-slide {
  padding: 15px;
  background: #fff;
  border: 1px solid #DDD;
  margin: 0 5px;
  border-radius: 3px;
}
.front {
  .slick-prev, .slick-next {
    z-index: 999;
    &:before {
      color: #483B3B;
    }
  }
  .slick-next {
    right: 0;
  }
  .slick-prev {
    left: 0;
  }
  .variable-width {
    padding: 0 2em;
  }
}


#block-views-front-blocks-block {
    position: absolute;
    bottom: 6em;
    width: 100%;
    text-align: center;
    padding: 0 1em;
    h1,h2 {
      color: #fff;
      text-shadow: 2px 2px 6px rgba(0,0,0,0.81);
    }
    h1 {
      font-size: 1.9em;
      margin: 0;
      @include breakpoint($tablet, $no-query: '.no-mq') {
        font-size: 2.85em;
      }
    }
    h2 {
      font-family: $font-family;
      font-style: italic;
      margin: 0;
      font-size: 1.5em;
      @include breakpoint($tablet, $no-query: '.no-mq') {
        font-size: 2.15em;
      }
    }
}

.front {
  .node-static-page.view-mode-full {
    display: none;
  }
}

.front {
  main#content {
    h2 {
      font-size: 1.6em;
      margin-bottom: 0.2em;
    }
  }
  .front-case-study-intro {
    p {
      font-size: 1.25em;
      font-style: italic;
    }
  }
}

.front .flexslider {
  li {
    // height: 100px !important;
    // width: auto !important;
  }
}

.front-quote {
  padding-bottom: 2em;
  padding-top: 2em;
  @include clearfix;
  clear: both;
}


.front-calls {
  .views-row {
    margin: 2em 0 4em;
    @include breakpoint($tablet, $no-query: '.no-mq') {
      display: inline-block;
      vertical-align: top;
      width: 30%;
      margin: 0 1%;
    }
    @include breakpoint($desktop, $no-query: '.no-mq') {
      margin: 0 1.5%;
    }
  }
  a {
    text-decoration: none;
    h3 {
      margin-bottom: 0.25em;
    }
    p, h3 {
      color: $heading-color;
    }
  }
  .call-link {
    font-weight: 700;
  }
}