nav.main-nav {
  font-family: $heading-font-family;
  padding: 0em 0em 0; 
  font-size: 110%;
  text-align: right;
  width: 100%;
  margin-top: 65px;
  @include breakpoint($tablet, $no-query: '.no-mq') {
    font-size: 95%;  
    margin-top: 35px;
  }
  @include breakpoint($desktop, $no-query: '.no-mq') {
    font-size: 98%;  
    margin-top: 29px;
  }
  @include breakpoint($lg-desktop, $no-query: '.no-mq') {
    font-size: 100%;  
    margin-top: 35px;
  }
  .contextual-links-region {
    position: static;
  }
  ul.menu {
    margin: 1em 0 0;
    padding: 0;
    position: relative;
    @include breakpoint($desktop, $no-query: '.no-mq') {
      text-align: right;
      margin: 0;
      ul {
        position: absolute;
        text-align: left;
        visibility:hidden;
        top: 150%;
        left: 0;
        opacity: 0;
        padding: 0em 0 !important;
        margin: 0;
        visibility: hidden;
        background-color: #fff;
        transition: top .75s, opacity .75s, visibility .75s;
        -webkit-transition:top .75s, opacity .75s, visibility .75s;
        width: 250px;
        box-shadow: 1px 1px 4px rgba(0,0,0,.51);
        a.active-trail {
          color: $heading-color;
        }
        li {
          padding: .5em 1.25em ;
        }
        a {
          color: #4a4a4a;
        }
      }
      li:hover {
        ul {

          z-index: 99;
          top:110%;
          left: 0;
          opacity: 1;
          visibility: visible;
          color: $heading-color;
          transition: top .5s, opacity .5s, visibility .75s;
          -webkit-transition:top .5s, opacity .5s, visibility .75s;
          li {
            display: block;
            &:hover {
              background-color: lighten($color-one, 5%);
              a {
                color: #fff;
              }
            }
          }
        }
      }
      li.last:hover {
        ul {
          left: auto;
          right: 0;
        }
      }
    }
    ul {
      padding: 0 1em;
    }
  }
  li.leaf, li, li.expanded {
    list-style: none;
    padding: 1.5em 1.25em;
    margin: 0;
    position: relative;
    @include breakpoint($desktop, $no-query: '.no-mq') {
      padding: .5em .4em;
      font-size: 90%;
    }
    @include breakpoint($desktop) {
      padding: .5em .5em;
      font-size: 100%;
    }
    @include breakpoint($lg-desktop) {
      padding: .5em .75em;
      font-size: 100%;
    }
    @include breakpoint($tablet-down) {
    border-bottom: 1px solid #424242;
      &.last {
        border-bottom: 0;
      }
    }
    li {
      padding: 0;
      font-size: 85%;
      border-bottom: 0;
      a {
        display: block;
      }
    }
    @include breakpoint($desktop, $no-query: '.no-mq') {
      display: inline-block;
    }
  }
  a, a:visited, .nolink {
    color: #fff;
    text-decoration: none;
    &.active {
      color: #fff;
      @include breakpoint($desktop, $no-query: '.no-mq') {
        //border-bottom: 2px solid #fff;
      }
    }
  }
}

.js {
  nav {
    ul.hide {
      @include breakpoint($tablet-down) {
        display: none;
      }
    }
  }
}

.hamburger-menu  {
  //@include btn(#efefef, #000, #999, 3px, $small);
  //@include grad(#efefef, #ccc, $stop: 100%); 
  //font-family: $heading-font-family;
  position: absolute;
  z-index: 10;
  right: 2em;
  @include breakpoint($desktop, $no-query: '.no-mq') {
    display: none;
  }
}

.main-nav {
  @include breakpoint($tablet-down) {
    // position: absolute;
    // right: 2em;
    float: right;
    ul.menu {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      height: 1775px;
      width: 100%;
      //background: rgba(31, 31, 31, 0.95);
      margin-top: 0;
      z-index: 9;
      li {
        padding: 1em 1.25em;
      }
      ul.menu {
        position: relative;
        height: auto;
        width: auto;
        background: none;
        li {
          padding: 1em 0 0;
        }
      }
      a, a:visited, .nolink {
        color: #fff !important;
      }
    }
  }
}

.header-image-is-light {
  nav ul.menu a, nav ul.menu a:visited, nav ul.menu .nolink  {
    color: #000000;
  }
}

$bar-width: 30px;
$bar-height: 4px;
$bar-spacing: 10px;

.hamburger-menu {
  position: absolute;
  top: 0;
  width: $bar-width;
  height: $bar-height + $bar-spacing*2;
  cursor: pointer;
  right: 0em;
  padding: 2em 3em;
}

.bar,
.bar:after,
.bar:before {
  width: $bar-width;
  height: $bar-height;
}

.bar {
  position: relative;
  transform: translateY($bar-spacing);
  background: rgba(255, 255, 255, 1);
  transition: all 0ms 300ms;
  
  &.animate {
    background: rgba(255, 255, 255, 0); 
  }
}

.bar:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: $bar-spacing;
  background: rgba(255, 255, 255, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: $bar-spacing;
  background: rgba(255, 255, 255, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

.bar.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

.header-image-is-light {
  .bar {
    background: #000;
    &:before, &:after {
      background: #000;
    }
  }
  .close {
    .bar {
    background: none;
    &:before, &:after {
      background: #fff;
    }
  }
  }
}